POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=change-me

CONFIG_GIT_URI=https://github.com/your-org/your-config-repo.git
CONFIG_GIT_BRANCH=main
GIT_USERNAME=change-me
GIT_TOKEN=change-me

JWT_KEY=change-me
JWT_ISSUER_URI=http://keycloak:8080/realms/microservice-realm/protocol/openid-connect/token
JWT_CLIENT_SECRET=change-me

AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_S3_BUCKET_NAME=change-me

FRONTEND_PORT=80
VITE_API_BASE_URL=/api
VITE_APP_NAME=N11 Marketplace
